<%- include("../partials/head") %>
<body>
  <%- include("../partials/header") %>
  <%- include("../partials/nav") %>

  <main>
    <h1><%= title %></h1>
    
    <% if (grid) { %>
      <%- grid %>
    <% } else { %>
      <p>Sorry, no vehicles could be found for this classification.</p>
    <% } %>
  </main>

  <%- include("../partials/footer") %>
</body>


