<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <%- include("../partials/nav") %>
    
    <main>
        <h1><%= title %></h1>
        
        <% if (detail) { %>
            <%- detail %>
            <% } else { %>
                <p>Vehicle details not available.</p>
        <% } %>
        <% if (locals.loggedin) { %>
            <form action="/favorites/add/<%= inv_id %>" method="POST">
                <button type="submit">❤️ Add to Favorites</button>
              </form>                           
          <% } else { %>
            <p><a href="/account/login">Log in</a> to add to favorites.</p>
          <% } %>
          
    </main>
    <%- include("../partials/footer") %>
</body>
</html>
